.login-container {
    width: 40%;
    max-width: 35rem;
    padding: 4rem;
    margin: auto;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 5px rgb(207, 207, 207);
    
}

.login-heading {
    text-transform: uppercase;
    text-align: left;
    font-size: 2rem;
    font-weight: 400;
}

.login-form {
    display: flex;
    flex-direction: column;
}


.error{

    color: red;
}

.login-error{
    margin-bottom: 1rem;
}
